db.sqlite3
mysite/__pycache__/urls.cpython-37.pyc
db.sqlite3
mysite/__pycache__/urls.cpython-37.pyc
polls/__pycache__/admin.cpython-37.pyc
polls/__pycache__/urls.cpython-37.pyc
polls/__pycache__/views.cpython-37.pyc
polls/__pycache__/admin.cpython-37.pyc
